<div nz-row>
  <form nz-col nzSpan="6" nz-form [formGroup]="formValidation" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" [nzFor]="name" nzRequired="">Họ tên</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập tên">
        <input nz-input name="name" formControlName="name" id="name"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" [nzFor]="username" nzRequired="">Tên đăng nhập</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập tên đăng nhập">
        <input nz-input name="username" formControlName="username" id="username"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" [nzFor]="email" nzRequired="">Email</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập tên đăng nhập">
        <input nz-input name="email" formControlName="email" id="email"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" [nzFor]="password" nzRequired="">Mật khẩu</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu">
        <input nz-input type="password" name="password" formControlName="password" id="password"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" [nzFor]="confirmPassword" nzRequired="">Nhắc lại mật khẩu</nz-form-label>
      <nz-form-control [nzErrorTip]="errorTpl">
        <input nz-input type="password" name="confirmPassword" formControlName="confirmPassword" id="confirmPassword"/>
        <ng-template #errorTpl let-control>
          @if (control.errors?.['required']) {
            Vui lòng xác nhận lại mật khẩu
          }
          @if (control.errors?.['confirm']) {
            Xác nhận mật khẩu không giống
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <p>Đã có tài khoản? <a routerLink="/login">Đăng nhập</a></p>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="onRegisterClick()">Đăng ký</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>