<div nz-row>
  <form nz-col nzSpan="6" nz-form [formGroup]="formValidation" nzLayout="vertical">
    <p style="text-align: center; color: red;" *ngIf="loginFailed">Sai tên đăng nhập/mật khẩu</p>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" [nzFor]="username" nzRequired="">Tên đăng nhập</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập tên đăng nhập/email">
        <input nz-input name="username" formControlName="username" id="username"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" [nzFor]="password" nzRequired="">Mật khẩu</nz-form-label>
      <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu">
        <input nz-input type="password" name="password" formControlName="password" id="password"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <p>Chưa có tài khoản? <a routerLink="/register">Đăng ký</a></p>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="onLoginClick()">Đăng nhập</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>