@page "/counter"
@using Microsoft.AspNetCore.Components.Authorization;
@rendermode InteractiveServer
@inject AuthenticationStateProvider Identity;

<PageTitle>Counter</PageTitle>

<CascadingAuthenticationState>
  <AuthorizeView>
    <h1>Counter</h1>
    <h2>@CurrentUser</h2>

    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
  </AuthorizeView>
</CascadingAuthenticationState>

@code {
  private int currentCount = 0;
  private string CurrentUser = "";

  protected override async Task OnInitializedAsync()
  {
    var user = await Identity.GetAuthenticationStateAsync();
    CurrentUser = user.User.Identity?.Name ?? string.Empty;
  }

    private void IncrementCount()
    {
        currentCount++;
    }
}
